* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing:border-box
}


.banner {
    /* background: url("../imgages/newsite.jpg"); */
    width: 100%;
    background-size: cover;
}

.top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}
.logo {
    color: #fff;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 30px;
    padding: 18px;
    text-transform: uppercase;
    text-align: center;
}
.menu {

    -ms-flex:1;
    -webkit-box-flex: 1;
    flex: 1;
}
.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

}
.menu ul li{
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
}
.menu ul li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

/* .banner */

.banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15% 0;
}


.banner-text-items {
    color: #fff;
    margin:auto;
    text-align: right;
    width: 70%;

}

.banner-text-items h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {

.banner-text-items h2 {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.menu ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
}

/* main-content */

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 3% 0;
}
.main-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.main-title {
    color: #a1b3a4;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;

}

.main-container {
    display: flex;
    max-width: 60%;
    margin: 40px auto 0 auto;

}
.main{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#main1{
    flex: 1;
    margin-right: 30px;
    background-color: #EDFBEF;
    text-align: center;
}

#main1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;

}

#me-circle {
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
    height: auto;
    width: 250px;
}


.icon i {
    margin-right: 15px;
    vertical-align: middle; 
    
}

.icon img {
    width: 11%;
    vertical-align: middle; 

}

#main2 {
    flex: 2;
    background-color: #EDFBEF;
    
}

#main2 h2 {
    margin: 20px;
    text-align: center;
}

#main2 p {
    font-size: 16px;
}

.skillBox {
    margin: 20px 0;
    width: 100%;
}

.skillBox p {
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    background: #FFFFFF;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 2px;
}

.skill_level {
    background: #A1B3A4;
    width: 100%;
    height: 3px;
}


  
/* slider */

#body {
    margin: 10px 40px;
  }
  
  .home-product-new-hldr {
    position: relative;
    left: 20%;
    width:1140px;
  }  
    
  .home-product-new {
    width:1140px;
    overflow:hidden;
  }
  
  .home-grid.products-grid.products-grid--max-4 {
    transition:-ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
    position:relative;
    white-space:nowrap;
  }
  
  .item-container {
      display: inline-block;
      margin: 4px;
      vertical-align: top;
      width:274px;
  }  
  
  .slider-btn-hldr-left {
      left: -32px;
  }
  
  .slider-btn-hldr-right {
      right: -32px;
  }
  
  .slider-btn-hldr {
      bottom: 0;
      display: block;
      padding: 0;
      width: 24px;
      position: absolute;
      top: 40%;
      z-index: 1;
  }
  
  .slider-btn {
      background-color: transparent;
      border: 0 none;
      color: buttontext;
      cursor: pointer;
      display: block;
  }
  
  #left-btn {
          display: none;
  }
  
  .slider-btn svg{
    width: 24px;
    height: 24px;
  }
    
  .products-grid .item {
      margin-left: 0;
      background: white; 
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      float: left;
  }
  





/* contact */

.contact {
    padding: 20px;
    height: 260px;
    background-color: #3d3737;
}

.contact-text {
    font-size: 25px;
    text-align: center;

}

.contact-text li {

    list-style: none;
    font-weight: bold;
    display: inline-block;

}

.contact-text i {
    margin-right: 20px;

}
.contact-text a {
    text-decoration: none;
    color: #FFFFFF;
}

.contact-text a:hover {
    color: #a1b3a4;
}
.contact-footer{
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}

/* arrow to the top */
.scrollToTopButton {
    display: none;
    position:fixed;
    bottom: 40px;
    right: 40px;
    height: 60px;
    width: 60px;
    font-size:xx-large;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 2px 4px 16px rgba(0,0,0,0.3)
}

.fa-arrow-up {
    color: #eae3e3
}



/* @media screen and (max-width: 600px) {
    .top-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 5px;
    }

    .banner-text-items h2 {
        font-size: 5px;
        
    }
    .main-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
} */

/* @media (max-width:800px) {
    .top-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 5px;
    }
    .banner-text-items {
        width: 70%;
    }
    .banner-text-items h2 {
        font-size: 5px;
    }
    .main-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    } 
} */